html
{
    background-color: #000033;
    color: white;
	font-family: Verdana;
}

div
{
    font-size: 1vw;
}

img
{
	margin-right: 1em;
}

a
{
		color: white;
		text-decoration: none;
}

header
{
	border-bottom: 1px solid white;
}

.float
{
	float:left;
}