html
{
    background-color: #000033;
    color: white;
	font-family: Verdana;
}

div
{
    font-size: 1vw;
}

img
{
	margin-right: 0.5em;
}

a
{
		color: white;
		text-decoration: none;
}

header
{
	border-bottom: 1px solid white;
}

.logo
{
	font-size: 2.5vw;
	font-weight: bold;
}

.menu
{
	font-size: 2.5vw;
	padding-left: 1.6em;
	margin-left: 1.3em;
	border-left: solid;
}

.float
{
	float:left;
}